<div id="block-project" class="block-project">
    <h2>Mes projets</h2>
    {% if technologies %}
    <div class="technologies flex-row" id="technologies">
        {% for technology in technologies %}
            {% if loop.first %}
                <a class="technology active" data-show="{{ loop.index }}">{{ technology }}</a>
            {% else %}
                <a class="technology" data-show="{{ loop.index }}">{{ technology }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="slides">
        <div class="btn-select" id="btnback"><img src="{{ asset('build/images/arrowblack.png') }}" alt=""></div>
        {% for technology in technologies %}
            {% if loop.first %}
                <a class="technology-slide active" data-show="{{ loop.index }}">{{ technology }}</a>
            {% else %}
                <a class="technology-slide" data-show="{{ loop.index }}">{{ technology }}</a>
            {% endif %}
        {% endfor %}
        <div class="btn-select" id="btnnext"><img src="{{ asset('build/images/arrowblack.png') }}" alt=""></div>
    </div>
</div>
    <div class="projects-technology">
        {% for technology in technologies %}
        {% if loop.first %}
        <div class="row container-technology-projects active-block" data-show="{{ loop.index }}">
            {% else %}
            <div class="row container-technology-projects" data-show="{{ loop.index }}">
                {% endif %}
                <div class="flex-card">
                    {% for project in projects %}
                        {% for technologyProject in project.technologies %}
                            {% if technologyProject == technology %}
                                <div class="card-project">
                                        <a href="{{ path('home_project',{ name :project.name} ) }}">
                                        <div class="card-image">
                                            {% if project.firstPicture %}
                                                <img src="/uploads/pictures/{{ project.firstPicture }}"
                                                     alt="image du projet">
                                            {% endif %}
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">{{ project.name }}</span>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
