<footer>
    <div class="footer" id="footer">
        <h4>Feel free to contact me :-)</h4>
        <div class="footer-contact">
            <div class="info-contact">
                <div class="phone flex-row">
                    <img class="mr10" src="{{ asset('build/images/phone.png') }}" alt="phone">
                    <p>06.31.73.65.87</p>
                </div>
                <div class="mail flex-row">
                    <img class="mr10" src="{{ asset('build/images/envelope.png') }}" alt="envelope">
                    <p>victorcrombez@gmail.com</p>
                </div>
            </div>
            <div class="link-contact">
                <div class="separation mr30"></div>
                <div class="logo-web flex-row">
                    <a class="logo" target="_blank" href="{{ user.github }}"><img src="{{ asset('build/images/github.png') }}" alt="github"></a>
                    <a class="logo" target="_blank" href="{{ user.linkedin }}"><img src="{{ asset('build/images/linkedin.png') }}" alt="linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
